/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.container-cards {
    display: flex;
    justify-content: center;
    margin: 40px;
}
  
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.button_add_order {
    background-color: black;
    color: white;
}

.footer-title {
    flex-direction: column;
    text-align: center;
}

.container-tabs {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

@media screen and (max-width: 390px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}