body {
    background-image: url('./login_img.webp');
    background-size: cover;  /* La imagen cubre todo el componente */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: center; /* Esto centrará la imagen */
}

.login-container {
    margin-left: 100px;
}

.title-login {
    margin-bottom: 80px;
    color: #fff;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-container {
    width: 250px;
}
.button-submit-login {
    background-color: #fff;
}