@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
} */

/* Estilos para el componente de Error */
.error {
  position: relative; /* Añade posición relativa al contenedor principal */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: xx-large;
}

.content-center {
  position: absolute; /* Asegura que el contenido esté absolutamente posicionado */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Desplaza el contenido para un centrado perfecto */
}

.title-error {
  color: red;
}

.p-error {
  color: grey;
}

.error_img_burger {
  position: absolute; /* Añade posición absoluta a la imagen */
  bottom: 0; /* Coloca la imagen en la parte inferior */
  right: 0; /* Coloca la imagen a la derecha */
  width: 300px;
  height: 200px;
}

/* Estilos para el Header  */
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Esto separará la imagen y el ícono */
  padding: 10px 20px; /* Esto añade un poco de espacio alrededor del header */
  background-color: #F7F7F7; /* Puedes cambiar esto según tu preferencia */
  height: 200px; /* Ajusta este valor según tus necesidades */
  background-size: cover; /* Asegura que la imagen cubra todo el espacio del encabezado */
  background-repeat: no-repeat; /* Previene que la imagen se repita */
  background-position: center center; /* Ajusta la posición de la imagen en el centro */
  position: relative;
}

.userIcon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 50px;
}





